# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode
.idea

# Other
.DS_Store
*.swp
tmp
temp
.cache

# Database
*.db
*.sqlite

# Prisma
prisma/migrations
